@{
    ViewBag.Title = "Temppacking";
}

<nav id="tripOptions">
    <div class="form-group">
        <label for="skill">Skills</label>
        
        <div class="input-group">
            <input type="text" id="skill" class="form-control" placeholder="Enter your skill" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: addSkill">+</button>
            </span>
        </div>
        <div class="skills clearfix" data-bind="foreach: skills">
            <span class="skill-label label label-default">
                <span data-bind="text: name"></span>
                <span class="remove label label-danger" data-bind="click: $parent.removeSkill">X</span>
                
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" placeholder="Enter country name"  data-provide="typeahead" autocomplete="off" spellcheck="false" dir="auto" />
    </div>

    <div class="form-inline">
        <span class="country-name">GB</span>
        <input type="text" class="form-control date-from" id="" placeholder="" />
        <input type="text" class="form-control date-to" id="" placeholder="" />
    </div>
        
</nav>
<aside id="globe">
    Earth

</aside>


@section scripts
{
    
    <script>
        $(function() {
            var options = {
                
            };
            temppacking.init(options);

        });
    </script>
    
}

