@{
    ViewBag.Title = "Temppacking";
}

<nav id="tripOptions">
    <img src="~/Content/images/temppacker-logo.png" />
    <div class="instruct">Please fill the information  below so we can start tracking your jorney!</div>
    <div class="form-group">
        <h2>Skills</h2>
        <div class="input-group">
            <input type="text" id="skill" class="form-control" placeholder="Enter a skill, e.g. photography" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: addSkill">+</button>
            </span>
        </div>
        <div class="skills clearfix" data-bind="foreach: skills">
            <span class="skill-label label label-default">
                <span data-bind="text: name"></span>
                <span class="remove label label-danger" data-bind="click: $parent.removeSkill">X</span>
                
            </span>
        </div>
    </div>
    <div class="form-group">
        <h2>Destinations </h2>
        <div class="input-group">
            <input type="text" class="form-control" id="country" placeholder="Enter a destination e.g. London"  data-provide="typeahead" autocomplete="off" spellcheck="false" dir="auto" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: addDestination">+</button>
            </span>
        </div>
        <div class="destinations clearfix" data-bind="foreach: destinations">
            <div class="destination clearfix">
                <span class="country" data-bind="text: name"></span>
                <div class="from">
                    <span class="title">From</span>
                    <input type="date" class="input-sm date-from" data-bind="value: from" />
                </div>
                <div class="to">
                    <span class="title">To</span>
                    <input type="date" class="input-sm date-to" data-bind="value: to" />
                </div>
                <span class="remove" data-bind="click: $parent.removeDestination">X</span>
            </div>
        </div>
    </div>
    
    
    <button type="button" class="btn btn-danger">
        View your journey&nbsp;&nbsp;
        <img src="~/Content/images/arrow.png" />
    </button>

        
</nav>
<aside id="globe">
    Earth

</aside>


@section scripts
{
    
    <script>
        $(function() {
            var options = {
                
            };
            temppacking.init(options);

        });
    </script>
    
}

