@{
    ViewBag.Title = "Temppacking";
}

<nav id="tripOptions">
    <a href="/"><img src="~/Content/images/temppacker-logo.png" /></a>
    <div class="instruct">Please fill the information  below so we can start tracking your jorney!</div>
    <div class="form-group">
        <h2>Skills</h2>
        <div class="input-group">
            <input type="text" id="skill" class="form-control" placeholder="Enter a skill, e.g. photography" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" data-bind="click: addSkill">+</button>
            </span>
        </div>
        <div class="skills clearfix" data-bind="foreach: skills">
            <span class="skill-label label label-default">
                <span data-bind="text: name"></span>
                <span class="remove label label-danger" data-bind="click: $parent.removeSkill">X</span>
                
            </span>
        </div>
    </div>
    <div class="form-group">
        <h2>Destinations </h2>
        <fieldset>
            <div class="input-group">
                <input type="text" class="form-control" id="country" placeholder="Enter a destination e.g. London"  data-provide="typeahead" autocomplete="off" spellcheck="false" dir="auto" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: addDestination">+</button>
                </span>
            </div>
        </fieldset>

        <div class="destinations clearfix" data-bind="foreach: destinations">
            <div class="destination clearfix">
                <span class="country" data-bind="text: name"></span>
                <div class="from">
                    <span class="title">From</span>
                    <input type="date" class="input-sm date-from" data-bind="value: from" />
                </div>
                <div class="to">
                    <span class="title">To</span>
                    <input type="date" class="input-sm date-to" data-bind="value: to" />
                </div>
                <span class="remove" data-bind="click: $parent.removeDestination">X</span>
            </div>
        </div>
    </div>
    
    
    <button type="button" class="btn btn-danger" id="go">
        View your journey&nbsp;&nbsp;
        <img src="~/Content/images/arrow.png" />
    </button>

        
</nav>
<aside id="content">
    <section id="intro" data-bind="visible: !showResults()">
        <div class="box">
            <div class="welcome-title">
                <img src="~/Content/images/welcome.png" />
            </div>
            <div class="logo-big">
                <img src="~/Content/images/big-logo.png" />
            </div>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
        </div>

    </section>
    
    <section id="results" data-bind="visible: showResults()">
        <div class="arrow-left" id="prev">
            <img src="~/Content/images/arrow-left.png" />
        </div>
        <div class="arrow-right" id="next">
            <img src="~/Content/images/arrow-right.png" />
        </div>
        <div id="earth">
            

        </div>
    </section>

</aside>


@section scripts
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>

    <script>
        $(function() {
            var options = {
                
            };
            temppacking.init(options);

        });
    </script>
    
}

